doctype html
html(lang='ru')
	head
		title Онлайн-партнер
		include ../modules/head

	body

		// begin wrapper
		.wrapper

			include ../modules/header

			// begin main-content
			main.main-content

			// end main-content

		// end wrapper
		include ../modules/footer


		// scripts 
		include ../modules/scripts